{{ define "common_input_modal" }}
<div id="input-modal-overlay" class="modal-overlay hidden">
    <div class="modal-content" style="width: 400px; max-width: 90%;">
        <h2 id="input-modal-title"></h2>
        <input type="text" id="input-modal-input" style="width: 100%; padding: 5px; font-size: 1.1em; margin-top: 10px;">
        <div class="form-actions" style="margin-top: 20px;">
            <button id="input-modal-cancel" class="btn">キャンセル</button>
            <button id="input-modal-ok" class="btn">OK</button>
        </div>
    </div>
</div>
{{ end }}
