{{ define "generic_search_form" }}
    {{ $prefix := .Prefix }}
    {{ $formID := .BarcodeFormID }}
    {{ $inputID := .BarcodeFormInputID }}
    {{ $btnID := .SearchButtonID }}
    {{ $btnText := .SearchButtonText }}

    <div class="search-form-container">
        <div class="search-row-unified">
            <div class="form-group" style="flex-grow: 1;">
                <label for="{{ $inputID }}">バーコードスキャン:</label>
                <form id="{{ $formID }}" class="search-barcode-form">
                    <input type="text" id="{{ $inputID }}" class="search-barcode-input" autocomplete="off" placeholder="GTIN/JAN, ロット情報含む可">
                </form>
            </div>
            <button id="{{ $btnID }}" class="btn search-submit-button">{{ $btnText }}</button>
        </div>
    </div>
{{ end }}