<div id="usage-upload-view" class="view">
    <h1>ファイルアップロード (USAGE)</h1>

    <div class="upload-button-container">
        <button id="usageUploadBtn" class="btn">USAGEファイル選択</button>
        <input type="file" id="usageFileInput" multiple accept=".csv,.CSV,.txt,.TXT" class="hidden">
        </div>
  
     <div id="usageUploadResultContainer">
        <p>「USAGEファイル選択」ボタンを押してファイルを選んでください。</p>
    </div>
    
    <div id="usageTableContainer" class="table-container">
        <table id="usageMainDataTable" class="data-table">
        </table>
    </div>
</div>